.DS_Store
showroom_data.js
showroom_data_conversion.py
*csv
style_old.css
.gitignore
index_copy.html
icon_talk.png
talk_icon.svg
lighting-recommendations_copy.html
lighting-recommendations copy.html
lighting-recommendations copy 2.html
lighting-recommendations_floor_lamp.html
lighting-recommendations_pendant_lamp.html